/* src/main/resources/style.css */
.root {
    -fx-font-family: "Arial";
}

.label {
    -fx-font-size: 20px;
    -fx-text-fill: #DDDDDD;
}

.text-field {
    -fx-font-size: 18px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-background-color: rgba(255, 191, 155, 0.68);
    -fx-text-fill: #DDDDDD;
}

.button {
    -fx-font-size: 16px;
    -fx-background-color: #30475E;
    -fx-text-fill: #DDDDDD;
}

.canvas {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}


.consoleLogTextArea{
    -fx-background-color: #30475E;
    -fx-border-color: #B46060;
    -fx-progress-color: #B46060;
}

.text-area {
    -fx-background-color: #f100ff;
    -fx-control-inner-background: #f100ff;
    -fx-text-fill: #DDDDDD;
}

.grid-pane {
    -fx-background-color: #4D4D4D;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}